mamimo==0.4.2
numpy==1.23.5
optuna==3.0.4
pandas==1.5.2
pandas-profiling==3.6.1
pandocfilters==1.5.0
scikit-learn==1.1.3
scipy==1.8.1
seaborn==0.12.1
streamlit==1.16.0
streamlit-pandas-profiling==0.1.3
tqdm==4.64.1